Ballerina: [
    Windows: https://product-dist.ballerina.io/downloads/0.990.2/ballerina-windows-installer-x64-0.990.2.msi
    Mac: https://product-dist.ballerina.io/downloads/0.990.2/ballerina-macos-installer-x64-0.990.2.pkg
    Linux: https://product-dist.ballerina.io/downloads/0.990.2/ballerina-linux-installer-x64-0.990.2.deb
]