anki: [
    Windows: https://apps.ankiweb.net/downloads/current/anki-2.1.7-windows.exe
]

clavier: [
    Windows: http://utilfr42.free.fr/dn/ClavierSetup32.exe
    Download-Page: http://utilfr42.free.fr/util/Clavier.php
    Referer: https://www.raymond.cc/blog/insert-text-commands-easily-quicktextpaste/
    Categories: [{Text Tools}]
    Tags: [Opensource French]
]

Foxit: [
    https://www.foxitsoftware.com/downloads/thanks.php?page={{page}}&product=Foxit-Reader&platform=Windows&version=9.4.0.16811&package_type=exe&language=English
]