hub: [
    windows: [
        scoop: https://github.com/github/hub
    ]
]

ruby: [
    Windows: https://github.com/oneclick/rubyinstaller2/releases/download/rubyinstaller-2.5.3-1/rubyinstaller-devkit-2.5.3-1-x64.exe
]

miniconda: [
    Windows: https://repo.anaconda.com/miniconda/Miniconda3-latest-Windows-x86_64.exe
]

anaconda-navigator: [
    conda: anaconda-navigator ; https://stackoverflow.com/questions/52869648/use-anaconda-navigator-with-minicondas-conda
]

rstudio: [
    Windows: https://download1.rstudio.org/RStudio-1.1.463.exe
]