anaconda-navigator: [
    conda: anaconda-navigator ; https://stackoverflow.com/questions/52869648/use-anaconda-navigator-with-minicondas-conda
]

bluej: [
    Windows: http://www.bluej.org/download/files/BlueJ-windows-414.msi
]

chocolatey: [
    powershell: {iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))}
]

curl: [
    Windows: https://dl.uxnr.de/build/curl/curl_winssl_msys2_mingw64_stc/curl-7.53.1/curl-7.53.1.zip
]

dbeaver: [
    Windows: https://dbeaver.io/files/dbeaver-ce-latest-x86_64-setup.exe
]

deepspeech: [
    pip3: https://github.com/mozilla/DeepSpeech
    git: https://github.com/mozilla/DeepSpeech
    info: https://research.mozilla.org/machine-learning/
]

dockertoolbox: [
    Windows: https://download.docker.com/win/stable/DockerToolbox.exe
    Mac: https://download.docker.com/mac/stable/DockerToolbox.pkg
]

dotnetsdk: [
    Windows: https://download.visualstudio.microsoft.com/download/pr/b43f1987-60d5-4fb1-9e9a-1443fff8472d/ffdb11b6d29038c891810dd9db24f23b/dotnet-sdk-2.2.101-win-gs-x64.exe
]

ele: [
    Browse: https://winaero.com/download.php?view.20
    Tutorials: https://www.intowindows.com/how-to-quickly-launch-elevated-command-prompt-command-prompt-with-admin-rights-from-normal-command-prompt/
]

gatsby-cli: [
    npm: {install --global gatsby-cli}
    post-install: {
        gatsby --version 
        gatsby --help
    }
    info: https://www.gatsbyjs.org/tutorial/part-zero/
    tutorials: [
        https://dev.to/ekaoddlass/building-my-personal-site--part-2-setting-up-gatsby-with-a-starter-site-1ob1
    ]
    pre-requisites: [
        nodejs
        git
    ]
]

git: [
    https://github.com/git-for-windows/git/releases/download/v2.20.1.windows.1/Git-2.20.1-64-bit.exe
]

gitlab: [
    Ubuntu: [
        sudo: [
            apt: [update upgrade]
            apt-get: [install ca-certificates curl openssh-server postfix]
            apt: [install mailutils]
        ]
        curl: {-LO https://packages.gitlab.com/install/repositories/gitlab/gitlab-ce/script.deb.sh}
        sudo: [
            bash: {/tmp/script.deb.sh}
            apt-get: [install gitlab-ce]
        ]
        post-install: [
            sudo: {nano /etc/gitlab/gitlab.rb}
        ]
    ]

    tutorials: [
        https://www.netspaceindia.com/how-to-install-gitlab-in-easy-way/
        https://www.techrepublic.com/article/how-to-set-up-a-gitlab-server-and-host-your-own-git-repositories/
        https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-gitlab-on-ubuntu-16-04
        https://www.digitalocean.com/community/tutorials/how-to-set-up-continuous-integration-pipelines-with-gitlab-ci-on-ubuntu-16-04

        https://www.andrewmunsell.com/blog/how-to-install-gitlab-locally-in-a-vm/
        https://www.aaron-powell.com/posts/2012-09-21-a-simple-git-server-on-windows/

        https://blog.sixeyed.com/run-gitlab-on-a-usb-stick-with-docker/
    ]
]

gitlab-ci: [
    Tutorials: [
        https://blog.codecentric.de/en/2018/05/gitlab-ci-pipeline/
    ]
]

gitlab-runner: [
    Windows: https://gitlab-runner-downloads.s3.amazonaws.com/latest/binaries/gitlab-runner-windows-386.exe
    post-install: {gitlab-runner.exe register}
    tutorials: [
        https://blog.budhajeewa.com/installing-and-configuring-gitlab/
        https://www.techjunkie.com/host-projects-gitlab/
        https://www.paddingleft.com/2018/03/26/gitlab-ci-runner-install/
        https://www.tutorialspoint.com/gitlab/gitlab_installation.htm
    ]
]

hub: [
    windows: [
        scoop: https://github.com/github/hub
    ]
]

go: [
    https://dl.google.com/go/go1.11.4.windows-amd64.msi
]

graddle: [
    Windows: [
        scoop: {install gradle}
        choco: {install gradle}
        doc: https://gradle.org/install/#prerequisites
    ]
]

hyper: [
    Windows: https://releases.hyper.is/download/win
]

libreoffice: [
    Windows: https://www.libreoffice.org/donate/dl/win-x86_64/6.1.4/en-US/LibreOffice_6.1.4_Win_x64.msi
]

maven: [
    Windows: http://mirror.ibcp.fr/pub/apache/maven/maven-3/3.6.0/binaries/apache-maven-3.6.0-bin.zip
]

miniconda: [
    Windows: https://repo.anaconda.com/miniconda/Miniconda3-latest-Windows-x86_64.exe
]

mps: [
    Windows: https://www.jetbrains.com/mps/download/download-thanks.html?platform=windows
]

nodejs: [
    Windows: https://nodejs.org/dist/v10.14.0/node-v10.14.0-x64.msi
    Post-Install: {node --version}
]

node: nodejs

nservicebus: [
    Windows: https://liveparticularwebstr.blob.core.windows.net/media/tutorials-quickstart.zip
]

openssl: [
    Windows: http://slproweb.com/download/Win64OpenSSL_Light-1_1_1a.exe
]

posh-git: [
    Powershell: {Update-Module PowerShellGet -Force;Install-Module Posh-Git -Scope LocalMachine} 
    Help: {}; https://git-scm.com/book/tr/v2/Appendix-A%3A-Git-in-Other-Environments-Git-in-Powershell
]

r: [
    Windows: https://cran.r-project.org/bin/windows/base/R-3.5.2-win.exe
]

rstudio: [
    Windows: https://download1.rstudio.org/RStudio-1.1.463.exe
]

ruby: [
    Windows: https://github.com/oneclick/rubyinstaller2/releases/download/rubyinstaller-2.5.3-1/rubyinstaller-devkit-2.5.3-1-x64.exe
]

scoop: [
    powershell: {iex (new-object net.webclient).downloadstring('https://get.scoop.sh')}
]

scrolldir: [
    npm: {install scrolldir --save}
    yarn: {add scrolldir}
    bower: {install scrolldir --save}
]

sdkman: [
    curl: {-s "https://get.sdkman.io" | bash}
    home: https://sdkman.io/
]

sphinx4: [
    tutorials: https://cmusphinx.github.io/wiki/tutorialsphinx4/
]

staticsiteboilerplate: https://github.com/ericalli/static-site-boilerplate

tensorflow: [
    pip: {install tensorflow}
]

torchgan: [
    pip3: {install torchgan}
    pip3: {install git+https://github.com/torchgan/torchgan.git}
    git: {clone https://github.com/torchgan/torchgan.git}
    home: https://github.com/torchgan/torchgan
    doc: https://torchgan.readthedocs.io/en/latest/ 
]

treewiz: [
    npm: {install treeviz}
]

winaero-tweaker: [
    Browse: https://winaero.com/download.php?view.1796
]

wsltty: [
    windows: https://github.com/mintty/wsltty/releases/download/1.9.5/wsltty-1.9.5-install.exe
    info: https://github.com/mintty/wsltty
]