anaconda-navigator: [
    conda: anaconda-navigator ; https://stackoverflow.com/questions/52869648/use-anaconda-navigator-with-minicondas-conda
]

chocolatey: [
    powershell: {iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))}
]

curl: [
    Windows: https://dl.uxnr.de/build/curl/curl_winssl_msys2_mingw64_stc/curl-7.53.1/curl-7.53.1.zip
]

dbeaver: [
    Windows: https://dbeaver.io/files/dbeaver-ce-latest-x86_64-setup.exe
]

dockertoolbox: [
    Windows: https://download.docker.com/win/stable/DockerToolbox.exe
    Mac: https://download.docker.com/mac/stable/DockerToolbox.pkg
]

dotnetsdk: [
    Windows: https://download.visualstudio.microsoft.com/download/pr/b43f1987-60d5-4fb1-9e9a-1443fff8472d/ffdb11b6d29038c891810dd9db24f23b/dotnet-sdk-2.2.101-win-gs-x64.exe
]

ele: [
    Windows: https://winaero.com/request.php?20
    Doc: https://www.intowindows.com/how-to-quickly-launch-elevated-command-prompt-command-prompt-with-admin-rights-from-normal-command-prompt/
]

gatsby-cli: [
    npm: {install --global gatsby-cli}
    post-install: {
        gatsby --version 
        gatsby --help
    }
    info: https://www.gatsbyjs.org/tutorial/part-zero/
    tutorials: [
        https://dev.to/ekaoddlass/building-my-personal-site--part-2-setting-up-gatsby-with-a-starter-site-1ob1
    ]
    pre-requisites: [
        nodejs
        git
    ]
]

git: [
    https://github.com/git-for-windows/git/releases/download/v2.20.1.windows.1/Git-2.20.1-64-bit.exe
]

hub: [
    windows: [
        scoop: https://github.com/github/hub
    ]
]

go: [
    https://dl.google.com/go/go1.11.4.windows-amd64.msi
]

hyper: [
    Windows: https://releases.hyper.is/download/win
]

libreoffice: [
    Windows: https://www.libreoffice.org/donate/dl/win-x86_64/6.1.4/en-US/LibreOffice_6.1.4_Win_x64.msi
]

miniconda: [
    Windows: https://repo.anaconda.com/miniconda/Miniconda3-latest-Windows-x86_64.exe
]

mps: [
    Windows: https://www.jetbrains.com/mps/download/download-thanks.html?platform=windows
]

nodejs: [
    Windows: https://nodejs.org/dist/v10.14.0/node-v10.14.0-x64.msi
    Post-Install: {node --version}
]

node: nodejs

nservicebus: [
    Windows: https://liveparticularwebstr.blob.core.windows.net/media/tutorials-quickstart.zip
]

openssl: [
    Windows: http://slproweb.com/download/Win64OpenSSL_Light-1_1_1a.exe
]

posh-git: [
    Powershell: {Update-Module PowerShellGet -Force;Install-Module Posh-Git -Scope LocalMachine} 
    Help: {}; https://git-scm.com/book/tr/v2/Appendix-A%3A-Git-in-Other-Environments-Git-in-Powershell
]

rstudio: [
    Windows: https://download1.rstudio.org/RStudio-1.1.463.exe
]

ruby: [
    Windows: https://github.com/oneclick/rubyinstaller2/releases/download/rubyinstaller-2.5.3-1/rubyinstaller-devkit-2.5.3-1-x64.exe
]

scoop: [
    powershell: {iex (new-object net.webclient).downloadstring('https://get.scoop.sh')}
]

wsltty: [
    windows: https://github.com/mintty/wsltty/releases/download/1.9.5/wsltty-1.9.5-install.exe
    info: https://github.com/mintty/wsltty
]