carbon: [
    https://github.com/pshdo/Carbon/releases/download/2.7.0/Carbon.zip
    Import-Module: 'Carbon'

    Doc: [ 
        http://get-carbon.org/about_Carbon_Installation.html
        http://get-carbon.org/Set-HostsEntry.html
    ]
]

Chocolatey: [
    Command: {powershell -noprofile -ExecutionPolicy Bypass -command "&{ start-process powershell -ArgumentList '-noprofile -command \"Set-ExecutionPolicy Bypass -Scope Process -Force;iex ((New-Object System.Net.WebClient).DownloadString(''https://chocolatey.org/install.ps1''))\"' -verb RunAs}"}
]
