paste-image: https://marketplace.visualstudio.com/items?itemName=mushan.vscode-paste-image
paste-from-Web: https://marketplace.visualstudio.com/items?itemName=BishopCodes.vscode-pfw
css-peek: [
    https://marketplace.visualstudio.com/items?itemName=pranaygp.vscode-css-peek
    .categories: [css tools]
    .referers: [
        https://tutorialzine.com/2017/06/15-essential-plugins-for-visual-studio-code
    ]
]
