
bracket-pair-colorizer: [

    https://marketplace.visualstudio.com/items?itemName=CoenraadS.bracket-pair-colorizer
    tags: [colorizer bracket]
    rating: *****
    languages: all
]

coderunner: [
    https://marketplace.visualstudio.com/items?itemName=formulahendry.code-runner
    tags: [runner]
    rating: ****
    languages: all    
]

csspeek: [
    https://marketplace.visualstudio.com/items?itemName=pranaygp.vscode-css-peek
    .categories: [css tools]
    languages: [html css]
    .referers: [
        https://tutorialzine.com/2017/06/15-essential-plugins-for-visual-studio-code
    ]
]

duplicateselection: [
    https://marketplace.visualstudio.com/items?itemName=kkapsner.duplicateselection
    tags: [selection duplicate]
    languages: all
]

editorconfig: [
    https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig
    tags: [configuration editor]
]

eslint: [
    https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint
    languages: [js javascript]
]

expand-region: [
    https://marketplace.visualstudio.com/items?itemName=letrieu.expand-region
    tags: [selection expand]
    languages: all
]


fileutils: [
    https://marketplace.visualstudio.com/items?itemName=sleistner.vscode-fileutils
    tags: [ [rename copy delete move] files]
    languages: all
]

findrelatedfiles: [
    https://marketplace.visualstudio.com/items?itemName=eamodio.find-related
    tags: [search files]
]

glean: [
    https://marketplace.visualstudio.com/items?itemName=wix.glean
    tags: [jsx]
    languages: [js javascript]
]

htmltagwrap: [
    https://marketplace.visualstudio.com/items?itemName=bradgashler.htmltagwrap 
    languages: html
]

javaextensionpack: [
    https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack
    reference: https://code.visualstudio.com/docs/java/java-webapp
    languages: java
]

journal: [
    https://marketplace.visualstudio.com/items?itemName=pajoma.vscode-journal
    languages: [all]
]
jsconsoleutils: [
    https://marketplace.visualstudio.com/items?itemName=whtouche.vscode-js-console-utils
    languages: [js javascript]
]

kotlin: [
    https://marketplace.visualstudio.com/items?itemName=mathiasfrohlich.Kotlin
    languages: [kotlin java]
]

markdown-preview: [
    https://marketplace.visualstudio.com/items?itemName=shd101wyy.markdown-preview-enhanced
    languages: all
    tags: [documentation writer]
]
multilinetricks: [
    https://marketplace.visualstudio.com/items?itemName=bigous.vscode-multi-line-tricks
    tags: [selection]
    languages: all
]

nestcomment: [
    https://marketplace.visualstudio.com/items?itemName=philsinatra.nested-comments
    languages: html
]

pasteimage: https://marketplace.visualstudio.com/items?itemName=mushan.vscode-paste-image
pastefromWeb: https://marketplace.visualstudio.com/items?itemName=BishopCodes.vscode-pfw

pathintellisense: [
    https://marketplace.visualstudio.com/items?itemName=christian-kohler.path-intellisense
    languages: html
]

prettier: [
    https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode
    repo: https://github.com/prettier/prettier-vscode
    languages: [js javascript]
]

projectmanager: [
    https://marketplace.visualstudio.com/items?itemName=alefragnani.project-manager
    tags: [project manage]
]

settingssync: [
    https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync
    tags: [project manage sync settings]
    languages: all
]


reactnative: [
    https://marketplace.visualstudio.com/items?itemName=vsmobile.vscode-react-native
    languages: [js javascript]
    platforms: mobile
]
 
savebackup: [
    https://marketplace.visualstudio.com/items?itemName=purplestone.savebackup
    tags: [backup save]
    languages: all
]

spellchecker: [
    https://marketplace.visualstudio.com/items?itemName=streetsidesoftware.code-spell-checker
]
